.spine-slot-symbol {
  width: 100% !important;
  height: min(110px, 8vw) !important;
  pointer-events: none;
}

.spine-slot-symbol canvas {
  display: block;
  width: auto !important;
  height: 100% !important;
}
